* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
body{
	overflow-x: hidden;
}
input{outline:none;}
a{text-decoration: none;color: #000;}
ul li{list-style: none;}
img{border:none;}
.fl{
	float: left;
}
.fr{
	float: right;
}
.w{
	width: 1200px;
	margin: 0 auto;
}
/*头部*/
.header{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background: transparent;
    z-index: 999;
}
.bian{
	box-shadow: 0 0 4px hsla(0,0%,73%,.52);
    background: #fff;
    z-index: 9999;
}
.header .fu{
    max-width: 1050px;
    box-sizing: border-box;
    height: 60px;
}
.header .fu .logo{
	padding: 9px 0;
}
.header .fu .link{
	padding-top: 20px;
    font-weight: 400;
    position: relative;
}
.header .fu .link a{
	display: inline-block;
    margin-left: 40px;
    width: 60px;
    font-size: 14px;
    padding: 0 2px 4px;
    color: rgba(51,51,51,.6);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.header .fu .link span{
    border-bottom: 2px solid #333;
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 85px;
}
/*大图*/
.banner{
	position: relative;
    height: 100%;
    background: #fdd01c;
    text-align: center;
    overflow: hidden;
}
.fiveDiv{
	position: relative;
    margin: 0 auto;
} 
.tab-btns{
    margin: 0 auto;
	position: relative;
	top: -70px;
   	width: 1140px;
   	height: 110px;
   	background-color: #fff;
   	box-shadow: 3px 4px 40px 11px rgba(104,97,34,.1);
    text-align: center;
}
.tab-btns span{
	padding: 0 60px;
    font-size: 22px;
    cursor: pointer;
    box-sizing: border-box;
    color: #999;
    line-height: 110px;
    text-align: center;
}
.tab-btns .seleSpan{
	color: #c49f07;
}
.fiveDiv .tab-page{
    margin: 84px auto 0;
    max-width: 999px;
}
.fiveDiv .tab-page .news{
    margin: 45px 0;
}
.fiveDiv .tab-page .news .imgs{
    float: left;
    width: 249px;
    height: 175px;
    overflow: hidden;
    text-align: center;
    background: #607d8b;
    overflow: hidden;
}
.fiveDiv .tab-page .news .imgs img{
    width: auto;
    height: 100%;
    transition: all 0.5s;
}
.fiveDiv .tab-page .news .imgs img:hover{
    transform: scale(1.1);
}
.fiveDiv .tab-page .news .content{
    margin-left: 286px;
}
.tab-page .news .content h1{
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    cursor:pointer;
}
.tab-page .news .content h1:hover{
    color: #c49f07;
}
.tab-page .news .content .for{
    margin: 14px 0 22px;
    font-size: 14px;
    color: #999;
    line-height: 32px;
    display: block;
}
.tab-page .news .content .tag{
    margin: 12px 0;
    color: #031155;
    font-size: 12px;
    line-height: 17px;
    cursor:pointer;
}
/*脚部*/
.footer{
	position: relative;
    padding-top: 192px;
    height: 330px;
    color: #979797;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #424242;
    overflow: hidden;
}
.footer ul li{
	position: relative;
    display: inline-block;
    padding: 0 22px;
    list-style: none;
    font-size: 12px;
}
.footer ul li:after{
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #515151;
    -webkit-transform: translateX(-.5px);
    transform: translateX(-.5px);
}
.footer p{
	margin-top: 35px;
    color: #979797;
}
.footer p span{
	display: inline-block;
    margin: 0 18px;
    font-size: 12px;
}
.footer:after {
    position: absolute;
    top: 0;
    right: 0;
    left: -50%;
    margin-right: 50%;
    width: 200%;
    height: 128px;
    background: #fff;
    content: "";
    -webkit-transform: rotate(2deg) translateY(-80px);
    transform: rotate(2deg) translateY(-32px);
}